
/* body{ /******add for the git watching commits  */
  /* background: #D9BD91;
} */

  .logo{
    grid-area: logo;
    text-align: right;

  }
  i{
    /* color: #EB6432; */
    color:green;
  }
  h3{
    font-family: 'Germania One';font-size: 22px;
    }

  h2{
    color: #C24D19;
    font-family: 'Crimson Text';font-size: 22px;
    text-shadow: 2px 2px 10px #CCA373;
  }
  span{
    color: #EB6332;
    font-weight: bold;
  }

  .dropcap{
    background-image: url("dropcap.png");
    background-size: 80px 80px;
    width:80px;
    height:80px;
    color:#B07B40;
    text-align: center;
    font-size: 70px;
    line-height: 94px;
    margin-right: 15px;
    margin-left: 10px;
    float: left;
    display: block;
    position: relative;
    top: 3px;
    text-shadow: 0px 0px 1px #cc6a26;
    font-family: 'Germania One';
    font-weight: 400;
  }

	.header{
		grid-area: header;
    font-family: 'Germania One';font-size: 45px;
    font-weight: 400;
    color: #EB6332;
    padding-top: 20px;
    /*text-shadow: 0px 0px 10px #CCA373;*/ /*add the shadow with a background color */
    text-shadow: 2px 2px 4px #000000; /*just add the shadow */
	}

	.main {
		grid-area: main;
    font-family: 'Redressed';font-size: 22px;
    border-top: double 4px #EB6332;
    color: #B07B40;
    text-align: justify;
    line-height: 1.5em;
	}

	.article1 {
		grid-area: article1;
    font-family: 'Redressed';font-size: 22px;
    font-size: 20px;
    text-align: justify;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;

	}
	.article2 {
    font-family: 'Crimson Text';font-size: 18px;
		grid-area: article2;
    padding-top: 20px;
    padding-left: : 20px;
    text-align: justify;
    line-height: 1.5em;
	}
	.article3 {
		grid-area: article3;
    font-family: 'Redressed';font-size: 20px;
    font-size: 20px;
    text-align: justify;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;

	}
  .article4 {
	 grid-area: article4;
   font-family: 'Crimson Text';font-size: 18px;
   padding-top: 10px;
   padding-right: 15px;
   padding-left: 10px;
   text-align: justify;
   line-height: 1.5em;
   border-bottom: double 4px #EB6332;
 }
 .article5{
   grid-area: article5;
   font-family: 'Romanesco';font-size: 22px;
   margin-top: 0;
 }

	.footer{
		grid-area: footer;
	}

  @media only screen and (min-width: 500px)  { /*If the screen size is 500px min or more show below layout */
  	.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
               "logo header header"
               "main main main"
               "article1 article2 article2"
               "article3 article4 article4"
               "article5 article5 article5 "
               "footer footer footer";

    color: #444;
    border: 2px solid black;
    padding: 20px;
	}
}

@media only screen and (max-width: 500px)  { /*If the screen size is 500px max or less show below layout */
  .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
             "logo"
             "header"
             "main"
             "article1"
             "article2"
             "article3"
             "article4"
             "article5"
             "footer";

  color: #444;
  border: 2px solid black;
  padding: 10px;
  display: block;
  margin: 0;

  }
}

@media only screen and (max-width: 500px)  {
  .article1{
    padding: 5px;
    margin: 0;
  }
}
@media only screen and (max-width: 500px)  {
  .article2{
    padding-top: : 0;
    margin: 0;
    }
}

@media only screen and (max-width: 500px)  {
  .main{
    line-height: 1em;
    }
}

@media only screen and (max-width: 500px)  {
  .logo{
      text-align: center;
  }
}
@media only screen and (max-width: 500px)  {
  .header{
      text-align: center;
  }
}

@media only screen and (max-width: 500px)  {
  h2{
    font-family: 'Crimson Text';font-size: 18px;
    }
}

.footer{
  background-color: #EB6332;
  font-weight:bolder;
}

.box {
  margin-left: 1em;
  margin-right: 1em;
}
